.navbar-admin {
  height: 64px;
}

.navbar-admin-logo-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #0d6efd;
}

.navbar-admin-title {
  font-weight: 600;
  font-size: 0.95rem;
}

.navbar-admin-subtitle {
  font-size: 0.8rem;
  color: #6c757d;
}
